.style-ul-favorites {
  padding: 0;
}

.list-style-favorites {
  list-style: none;
}

.card-wrapper-favorites {
  width: 21rem;
  height: 24rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.5px solid rgb(190, 189, 189);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.style-img-favorites-page {
  padding: 1rem;
  width: 21rem;
  height: 20rem;
  border-radius: 1.4rem;
}

.text-center-favorites {
  text-align: center;
}

.favorite-card-detail-text {
  width: 21rem;
  height: 17rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.5px solid rgb(190, 189, 189);
  display: flex;
  flex-direction: column;
}

.list-style-no-favorite {
  padding-top: 2rem;
  list-style: none;
  text-align: center;
  font-size: 2rem;
  font-family: nunito, sans-serif;
}

.style-delete-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  width: 95%;
}

.style-delete-button {
  border: none;
  background-color: transparent;
  color: orangered;
  text-decoration: underline;
}
