body {
  margin: 0 auto;
  height: 100%;
  background-color: #e4d1b9;
}

main {
  display: flex;
  justify-content: center;
}

.container-main {
  margin: 3rem;
  min-height: calc(90vh - 4rem);
}

.container-detail {
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  min-height: calc(100vh - 4rem);
}

.column-full,
.column-half {
  width: 100%;
}

.hidden {
  display: none;
}
