body {
  margin: 0 auto;
  height: 100%;
  background-color: #e4d1b9;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  margin: 3rem;
  min-height: calc(90vh - 4rem);
}

.column-full {
  width: 100%;
}
