.style-header {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #fdf6ec;
}

.svg-container-monkey {
  height: 3rem;
  width: 3rem;
}

.svg-container-leopard {
  height: 4rem;
  width: 4rem;
}

.style-svg-container-left {
  margin-left: 2rem;
}

.style-svg-container-right {
  margin-right: 2rem;
}

.style-svg-header {
  width: 100%;
}

.padding-top-svg {
  padding-top: 3px;
}

.font {
  font-family: Roboto, sans-serif;
}

.style-header > h1 {
  font-size: 1.8rem;
}

.style-footer {
  height: 4rem;
  display: flex;
  background-color: #fdf6ec;
  justify-content: center;
  align-items: center;
}

.style-refresh-btn {
  border-radius: 0.2rem;
  width: 10rem;
  height: 2rem;
  border: 1px solid gray;
  background-color: transparent;
  color: gray;
}

.display-flex {
  display: flex;
}

.list-style {
  display: flex;
  justify-content: center;
  flex-basis: calc(100% / 2);
  padding-bottom: 1rem;
}

.card {
  width: 8rem;
  height: 13.5rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.5px solid rgb(190, 189, 189);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.style-animal-img {
  padding: 0.5rem;
  width: 100%;
  height: 10rem;
  border-radius: 0.8rem;
  object-fit: fill;
}

.style-ul-main-page {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  margin: 0;
}

.style-text {
  text-align: center;
  font-family: Nunito, sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  margin: 0;
}

.style-card-detail-img {
  width: 20rem;
  height: 21rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.5px solid rgb(190, 189, 189);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.style-img-detail-page {
  padding: 1rem;
  width: 100%;
  height: 16rem;
}

.card-detail-text {
  width: 20rem;
  height: 17rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.5px solid rgb(190, 189, 189);
  display: flex;
  flex-direction: column;
}

.style-title-information {
  font-size: 1.3rem;
  font-weight: bolder;
}

.style-detail-title {
  padding-left: 1rem;
}

.font-nunito {
  font-family: nunito, sans-serif;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.description-list {
  margin-top: 0;
}

.description-list > li {
  line-height: 1.5rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .list-style {
    flex-basis: calc(100% / 3);
  }
}

@media screen and (min-width: 990px) {
  .list-style {
    flex-basis: calc(100% / 5);
  }
}
