.style-header {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #fdf6ec;
}

.svg-container-monkey {
  height: 3rem;
  width: 3rem;
}

.svg-container-leopard {
  height: 4rem;
  width: 4rem;
}

.style-svg-container-left {
  margin-left: 2rem;
}

.style-svg-container-right {
  margin-right: 2rem;
}

.style-svg-header {
  width: 100%;
}

.padding-top-svg {
  padding-top: 3px;
}

.padding-top {
  padding-top: 2rem;
}

.font {
  font-family: Roboto, sans-serif;
}

.style-header > h1 {
  font-size: 1.8rem;
}

.style-header > h1:hover {
  cursor: pointer;
}

.style-footer {
  margin-top: 1rem;
  height: 4rem;
  display: flex;
  background-color: #fdf6ec;
  justify-content: center;
  align-items: center;
}

.style-font-main {
  text-align: center;
  margin: 0;
}

.style-refresh-btn {
  border-radius: 0.2rem;
  width: 10rem;
  height: 2rem;
  border: 1px solid gray;
  background-color: transparent;
  color: gray;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.display-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-item {
  align-items: center;
}

.list-style {
  display: flex;
  justify-content: center;
  flex-basis: calc(100% / 2);
  padding-bottom: 1rem;
}

.card-wrapper {
  border-radius: 0.4rem;
  transform: scale(1);
  transition: transform 0.5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.card-wrapper:hover {
  transform: scale(1.1);
}

.card {
  width: 8rem;
  height: 13.5rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.5px solid rgb(190, 189, 189);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.style-animal-img {
  padding: 0.5rem;
  width: 100%;
  height: 10rem;
  border-radius: 0.8rem;
  object-fit: fill;
  cursor: pointer;
}

.style-ul-main-page {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  margin: 0;
}

.style-text {
  text-align: center;
  font-family: Nunito, sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.5rem 0.1rem 0;
  margin: 0;
}

.card-wrapper-detail {
  border-radius: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

.style-card-detail-img {
  width: 21rem;
  height: 24rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.5px solid rgb(190, 189, 189);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.style-img-detail-page {
  padding: 1rem;
  width: 100%;
  height: 20rem;
  border-radius: 1.4rem;
}

.card-detail-text {
  width: 21rem;
  height: auto;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.5px solid rgb(190, 189, 189);
  display: flex;
  flex-direction: column;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

.style-title-information {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: bolder;
}

.style-detail-title {
  font-size: 1.3rem;
  text-decoration: underline;
  padding-left: 1rem;
}

.font-nunito {
  font-family: nunito, sans-serif;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.description-list {
  margin-top: 0;
}

.description-list > li {
  font-size: 1rem;
  line-height: 1.5rem;
}

.style-span-description {
  font-weight: bold;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

.button-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.style-back-to-list-btn {
  border-radius: 0.2rem;
  width: 10rem;
  height: 2rem;
  border: 1px solid gray;
  background-color: transparent;
  color: gray;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.style-description-list-item {
  width: 90%;
}

.font-size-img-title {
  margin-top: 0.2rem;
  font-size: 1.3rem;
}

i {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.style-message-modal {
  font-family: roboto, sans-serif;
  font-weight: bold;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.style-message-modal > img {
  width: 20%;
  margin-left: 1rem;
}

.modal-message {
  position: absolute;
  top: 20%;
  background-color: white;
  border: none;
  border-radius: 0.2rem;
  display: flex;
  width: 20rem;
  height: 10rem;
  flex-direction: column;
}

.button-container-modal {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.sytle-button-cancel {
  width: 5rem;
  height: 2rem;
  border: none;
  border-radius: 0.2rem;
  background-color: rgba(241, 45, 11, 0.959);
  color: white;
  font-family: roboto, sans-serif;
}

.style-button-confirm {
  width: 5rem;
  height: 2rem;
  border: none;
  border-radius: 0.2rem;
  background-color: rgb(88, 204, 10);
  color: white;
  font-family: roboto, sans-serif;
}

.style-row-favorites {
  width: 100%;
}

.style-back-to-main-btn {
  width: 8rem;
  height: 2.2rem;
  border: 1px solid #343a40;
  background-color: transparent;
  font-family: roboto, sans-serif;
  border-radius: 0.2rem;
  color: #343a40;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.style-column-img-carousel {
  margin-top: 5rem;
}

.style-carousel-img {
  padding: 1rem;
  height: 25rem;
  width: 70%;
  border-radius: 1.4rem;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}

.style-here {
  color: blue;
  text-decoration: underline;
}

.style-here:hover {
  color: aquamarine;
  cursor: pointer;
}

.padding-right-icon {
  padding-right: 1rem;
}

.style-icon-delete {
  font-size: 0.9rem;
  color: orangered;
}

.style-title-favorite {
  font-size: 1.4rem;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div::after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .list-style {
    flex-basis: calc(100% / 3);
  }

  .column-half {
    width: 50%;
  }

  .padding-left {
    padding-left: 1rem;
  }

  .padding-right {
    padding-right: 1rem;
  }

  .style-img-detail-page {
    border-radius: 1.4rem;
  }

  .padding-bottom-detail-text {
    padding-bottom: 1rem;
  }

  .display-flex-favorites-list {
    display: flex;
  }

  .padding-right-favorites {
    padding-right: 1rem;
  }

  .padding-left-favorites {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 990px) {
  .list-style {
    flex-basis: calc(100% / 5);
  }
}
